<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lurenqiang.car.Dao.CarMapper" >
    <resultMap id="BaseResultMap" type="com.lurenqiang.car.Entity.Car" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="car_name" property="carName" jdbcType="VARCHAR" />
        <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="car_engine_mode" property="carEngineMode" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from carinfo
    </select>

</mapper>